<!-- Portfolio Gallery 
<section>
    <div class="container">
        <div class="row">
            <div class="portfolio-grid">

                {{portfolio-card}}

            </div>
        </div>
    </div>
</section>
-->









<!-------------------------------------------------------
  ---------------------------------------------------------
  PORTFOLIO SECTION
  ---------------------------------------------------------
  -------------------------------------------------------->
<section class="portfolio-section">

    <div class="container ps-2 pe-2">
        <div class="col-md-7">
            <h1 class="headline">The work<span class="orange">.</span></h1>
            <p class="p-large">Turn heads, change minds.</p>
            <p class="pt-3">Any marketing agency can make tactics that dazzle. FVM builds carefully targeted brands and
                campaigns that command attention and compel decision makers to act.</p>
            <h3 class="pt-5">Portfolio</h3>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="portfolio-card-container col-6 col-md-3">
                {{portfolio-card}}
            </div>

            <div class="portfolio-card-container col-6 col-md-3">
                {{portfolio-card}}
            </div>

            <div class="portfolio-card-container col-6 col-md-3">
                {{portfolio-card}}
            </div>

            <div class="portfolio-card-container col-6 col-md-3">
                {{portfolio-card}}
            </div>

        </div>
    </div>
</section>