<!--
<h2>{{title}}</h2>
-->

<section>
    <div class="container">
        <div class="row justify-content-between">

            <!--
        <h2>{{title}}</h2>
        -->

            <div class="col-6 ">
                <a class="btn btn-sm btn-left" href="{{previous-link}}">
                    <span class="btn-arrow"><span class="arrow arrow-left"></span></span>
                    <span class="btn-link">{{previous-title}}</span>
                </a>
            </div>

            <div class="col-6 text-end ">
                <a class="btn btn-sm btn-right" href="{{next-link}}">
                    <span class="btn-link">{{next-title}}</span>
                    <span class="btn-arrow"><span class="arrow arrow-right"></span></span>
                </a>
            </div>

        </div>
    </div>
</section>