<div class="portfolio-card-container col-6 col-md-3">
    <a class="portfolio-card-image" href="./portfolio/{{slug}}.html">
        <img src="{{thumbnail}}" alt="{{title}}">
    </a>

    <div class="portfolio-card-item">
        <a class="btn btn-text" href="./portfolio/{{slug}}.html">
            <span>{{title}}</span>
            <span class="btn-text-arrow">
                <span class="arrow arrow-right arrow-sm"></span>
            </span>
        </a>
        <p class="p-small">{{industry}}</p>
    </div>
</div>